.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
 .App, body {
  background-color: black;
  color: white;
}

img {
  opacity: .75;
  transition: opacity .5s ease-in-out;
}
img:hover {
  opacity: 1;
}
}


@media (prefers-color-scheme: light) {
  .App, body {
    background-color: white;
    color: black;
  }
}